Repository MSU-CSE491/cse_491_fall_2023, pull requests merged in 2023-12, with the labels that each got.

#104 Group 1 Final PR!
  source/Agents/AStarAgent.hpp
  source/Agents/AgentFactory.hpp
  source/Agents/AgentLibary.hpp
  source/Agents/PacingAgent.hpp
  source/Agents/PathAgent.cpp
  source/Agents/PathAgent.hpp
  source/Agents/RandomAgent.hpp
  source/Agents/TrackingAgent.hpp
  source/Worlds/MazeWorld.hpp
  source/core/AgentBase.hpp
  source/core/Entity.hpp
  source/core/GridPosition.hpp
  source/core/WorldBase.hpp
  source/group_1_main.cpp
  tests/unit/Agents/AStarAgent.cpp
  tests/unit/Agents/AgentFactory.cmake
  tests/unit/Agents/AgentFactory.cpp
  tests/unit/Agents/PathAgent.cpp
  tests/unit/Agents/RandomAgent.cpp
  tests/unit/Agents/TrackingAgent.cmake
  tests/unit/Agents/TrackingAgent.cpp
Labels: Merge: READY, Group 1, Note: Requires consultation, Waiting For Approval

#111 Final Networking Module Pull Request.
  source/Interfaces/NetWorth/NetworkInterface.hpp
  source/Interfaces/NetWorth/client/ClientInterface.hpp
  source/Interfaces/NetWorth/client/ClientManager.hpp
  source/Interfaces/NetWorth/client/ControlledAgent.hpp
  source/Interfaces/NetWorth/server/ServerInterface.hpp
  source/Interfaces/NetWorth/server/ServerManager.hpp
  source/core/AgentBase.hpp
  source/core/Entity.hpp
  source/core/ItemBase.hpp
  source/core/WorldBase.hpp
  source/group_5_client_main.cpp
  source/group_5_server_main.cpp
Labels: Merge: READY, Group 5

#45 Aman's blogpost First Draft
  blogposts/Thamminana/Blogpost-AmanDhruvaThamminana.md
  blogposts/Thamminana/images/img.png
Labels: Blog Post Draft 1, Blog Post Revised

#47 ODell Blogpost
  blogposts/ODell/DRAFT.pdf
  blogposts/ODell/ODellBlogpost.zip
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#49 Newaz blogpost
  blogposts/Newaz/Blog Post Draft.md
  blogposts/Newaz/Blog Post Final.md
Labels: Blog Post Draft 1, Blog Post Revised

#51 Blogpost Pull Request
  blogposts/Carr/DRAFT.md
  blogposts/Carr/FINAL.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#52 Nate Gu Blog_Post_Draft.md
  blogposts/Gu/Blog_Post_Final.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#54 Added draft
  blogposts/Rylko/Rylko_blogpost_DRAFT.pdf
  blogposts/Rylko/Rylko_blogpost_FINAL.md
  blogposts/Rylko/colors.png
  blogposts/Rylko/convolution.png
  blogposts/Rylko/equations.png
  blogposts/Rylko/filters.gif
  blogposts/Rylko/makefile.png
  blogposts/Rylko/ss1.png
  blogposts/Rylko/ss2.png
  blogposts/Rylko/ss3.png
  blogposts/Rylko/ss4.png
  blogposts/Rylko/ss5.png
  blogposts/Rylko/ss6.png
  blogposts/Rylko/ss7.png
  blogposts/Rylko/ss8.png
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#56 Added kight blogpost
  blogposts/Kight/blog_post.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#58 Blog post draft
  blogposts/Situ/DRAFT.md
  blogposts/Situ/FINAL.md
  blogposts/Situ/cuda_performance_graph.png
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#61 Garvey blogpost
  blogposts/Garvey/DRAFT.md
  blogposts/Garvey/badposition.png
  blogposts/Garvey/final.md
  blogposts/Garvey/goodposition.png
  blogposts/Garvey/iterationequation.png
  blogposts/Garvey/iterationsquares.png
  blogposts/Garvey/triangleqvalues.png
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#62 Seguin blogpost
  blogposts/Seguin/ChatGPTCode.cpp
  blogposts/Seguin/Seguin blogpost DRAFT.pdf
  blogposts/Seguin/Seguin blogpost.md
  blogposts/Seguin/images/Screenshot 2023-10-15 221108.png
  blogposts/Seguin/images/Screenshot 2023-10-15 221408.png
  blogposts/Seguin/images/Screenshot 2023-10-15 222401.png
  blogposts/Seguin/images/Screenshot 2023-10-15 223625.png
  blogposts/Seguin/images/Screenshot 2023-10-15 224852.png
  blogposts/Seguin/images/Screenshot 2023-10-15 225136.png
  blogposts/Seguin/images/Screenshot 2023-10-15 225711.png
  blogposts/Seguin/images/Screenshot 2023-10-15 230147.png
  blogposts/Seguin/images/Screenshot 2023-10-15 230310.png
  blogposts/Seguin/images/Screenshot 2023-10-15 231122.png
  blogposts/Seguin/images/Screenshot 2023-10-15 231156.png
  blogposts/Seguin/images/Screenshot 2023-10-15 231601.png
  blogposts/Seguin/images/Screenshot 2023-10-15 231934.png
  blogposts/Seguin/images/Screenshot 2023-10-15 233243.png
  blogposts/Seguin/images/Screenshot 2023-10-15 233543.png
  blogposts/Seguin/images/Screenshot 2023-10-15 233825.png
  blogposts/Seguin/images/Screenshot 2023-10-15 234441.png
  blogposts/Seguin/images/Screenshot 2023-10-15 235152.png
  blogposts/Seguin/images/Screenshot 2023-10-15 235356.png
  blogposts/Seguin/images/Screenshot 2023-10-16 000946.png
  blogposts/Seguin/images/Screenshot 2023-10-16 001617.png
  blogposts/Seguin/images/Screenshot 2023-10-16 002335.png
  blogposts/Seguin/images/Screenshot 2023-10-16 002932.png
  blogposts/Seguin/images/Screenshot 2023-10-16 003123.png
  blogposts/Seguin/images/Screenshot 2023-10-16 004428.png
  blogposts/Seguin/images/Screenshot 2023-10-16 011240.png
  blogposts/Seguin/images/Screenshot 2023-10-16 011303.png
  blogposts/Seguin/targetdummyparse.cpp
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#63 Orvis Blogpost
  blogposts/Orvis/Draft.md
  blogposts/Orvis/Final.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#64 Murrani blogpost
  blogposts/Murrani/Blogpost_Draft.md
  blogposts/Murrani/Blogpost_Final.md
  blogposts/Murrani/astar1.gif
  blogposts/Murrani/bigo.jpg
  blogposts/Murrani/dijkstra1.gif
  blogposts/Murrani/dijkstras2.png
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#65 Lichtman blogpost
  blogposts/Lichtman/Draft_Lichtman.pdf
  blogposts/Lichtman/Lichtman_blogpost_final (2)/Lichtman_blog_final.markdown
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image1.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image2.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image3.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image4.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image5.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image6.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image7.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image8.png
  blogposts/Lichtman/Lichtman_blogpost_final (2)/vertopal_c01dba067fb240a2a3aa6a8771d3219c/media/image9.png
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#68 Add blogpost draft
  blogposts/Budny/C++_interop_blogpost.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#69 491 - Blog Post Draft
  blogposts/README.md
  blogposts/ravipati/491Blogpostfinal.html
  blogposts/ravipati/491final.html
  blogposts/ravipati/images/image1.png
  blogposts/ravipati/images/image10.png
  blogposts/ravipati/images/image2.png
  blogposts/ravipati/images/image3.png
  blogposts/ravipati/images/image4.png
  blogposts/ravipati/images/image5.png
  blogposts/ravipati/images/image6.png
  blogposts/ravipati/images/image7.png
  blogposts/ravipati/images/image8.png
  blogposts/ravipati/images/image9.png
  blogposts/ravipati/ravipati_DRAFT.pdf
Labels: Merge: READY, Group 4, Blog Post Draft 1, Blog Post Revised

#70 Lablanc blogpost
  blogposts/lablanc/CoroutinesTutorialDRAFT.pdf
  blogposts/lablanc/CoroutinesTutorialFINAL.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#71 Villalpando blogpost
  blogposts/Villalpando
  blogposts/villalpando/VillalpandoFinalBlogpost.md
  blogposts/villalpando/blogpostdraft
  blogposts/villalpando/blogpostdraft.pdf
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#72 Mihailovic blogpost
  blogposts/Mihailovic/Milan Mihailovic Blog Post Draft.pdf
  blogposts/Mihailovic/Milan Mihailovic Blog Post FINAL.md
  blogposts/Mihailovic/README.md
  blogposts/Mihailovic/import fasttext.py
  blogposts/Mihailovic/main.cpp
  blogposts/Mihailovic/results1.png
  blogposts/Mihailovic/results_2.png
  blogposts/Mihailovic/results_3.png
  blogposts/Mihailovic/sentences.png
  blogposts/Mihailovic/sentences.txt
  blogposts/Mihailovic/vectors.csv
  blogposts/Mihailovic/vectors.png
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#74 Blog post draft
  blogposts/Rackerby/post.md
Labels: Merge: READY, Blog Post Draft 1, Blog Post Revised

#75 Meehan blogpost
  blogposts/Meehan/First_Draft.pdf
  blogposts/Meehan/Meehan_Blogpost.md
  blogposts/Meehan/Meehan_Blogpost.pdf
Labels: Blog Post Draft 1, Blog Post Revised
